<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="AVF_Daroshka_03"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<booleanAttribute key="ATTR_UPLOAD_DEBUG_SYMBOLS" value="false"/>
<stringAttribute key="appid" value="com.darishka.week3"/>
<stringAttribute key="certificate" value="Jennifer McCarrick (5TMP78RMGA)"/>
<stringAttribute key="debug_config" value="::1445374507867:192.168.56.1,192.168.1.8"/>
<stringAttribute key="debug_hosts" value="192.168.56.1,192.168.1.8"/>
<stringAttribute key="device_id" value="8289fdbcf2a1c81ec80d973ae5d46d56ef3876fc"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AVF_Daroshka_03"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="9.0"/>
<stringAttribute key="uuid" value="cc03c378-3f35-4670-8261-72b5dce48222"/>
</launchConfiguration>
